.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pathAboveNavBar{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modeSwitch{
  margin: 10px 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #848484;
  background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
}

.lightTheme{
  width: 50%;
}
.darkTheme{
  width: 50%;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name{
  font-weight: 800;
  font-size: 74px;
  background: linear-gradient(
    to right, #9773FF, #FF9052);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
letter-spacing: 2px;
margin-top: 20px;
margin-bottom: 0px;
}

.jobTitle{
  text-transform: uppercase;
  color: #F3F3F3;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: 8px;
}

.aboutMe{
  color: #A9A9A9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 40%;
}

.button{
  color: white !important;
  border: 1px solid white !important;
  margin-top: 28px !important;
  text-transform: capitalize !important; 
  padding: 10px 18px !important;
  margin-bottom: 14px !important;
}

.sectionHeading{
  color: #9B74FB;
  font-size: 16px;
  margin:  16px 0px 20px 0px;;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}
.aboutSection{
  width: 80%;
  margin-bottom: 30px;
}
.horizontalPath{
  width: 50%;
  padding: 0px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.pathBelowAbout{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.workSection{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 16%;
}
.sectionHeadingLeft{
  color: #9B74FB;
  font-size: 16px;
  margin:  16px 0px 20px 0px;;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}
.workContent{
  display: flex;
  flex-direction: row;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 20%;
}