.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pathAboveNavBar{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modeSwitch{
  margin: 10px 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #848484;
  background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
}

.lightTheme{
  width: 50%;
}
.darkTheme{
  width: 50%;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name{
  font-weight: 800;
  font-size: 74px;
  background: linear-gradient(
    to right, #9773FF, #FF9052);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
letter-spacing: 2px;
margin-top: 20px;
margin-bottom: 0px;
}

.jobTitle{
  text-transform: uppercase;
  color: #F3F3F3;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: 8px;
}

.aboutMe{
  color: #A9A9A9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  width: 40%;
}

.button{
  color: white;
  border: 1px solid white !important;
  margin-top: 28px;
  text-transform: capitalize;
  padding: 10px 18px;
}