.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.respNavBar{
    display: none;
}
.navItems{
    padding: 0px 27px;
    color: #A9A9A9;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

/* responsive  */
@media only screen and (max-width: 900px) {
    .navBar{
        display: none;
    }
    .respNavBar{
        margin-top: 14%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .hamburgerMenu{
        color: white;
        font-size: 24px;
    }
} 
